.header-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 10px 0px 105px 0px;
  color: #ffe81f;
  animation: fade-in 1s ease-in-out forwards;
  text-decoration: none;
}

li {
  list-style: none;
  font-size: 25px;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 20vh;
}

li:hover {
  color: #ffe81f;
}

a {
  text-decoration: none;
}

.header-container ul li a.active-link {
  color: yellow;
}

.header-container ul li a {
  color: white;
}
