.users-registered-container {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  margin-bottom: 10px;
}

.user-info {
  display: block;
  margin-bottom: 5px;
}

.remove-button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.no-users {
  margin-top: 10px;
  text-align: center;
}

.users-registered-container h2 {
  padding-bottom: 10px;
}

.remove-all {
  width: 100px;
}

.remove-all-container {
  display: flex;
  display: flex;
  flex-direction: row-reverse;
}
